.codepos {
    font-weight: bold;
    background-color: var(--blue);
}

.mempos {
    font-weight: bold;
    background-color: var(--gray);
}

/* INPUT COLORATION */

.backdrop, #codeinput {
  font: 12px 'Open Sans', sans-serif;
  letter-spacing: 1px;
}

#codeinput {
    width: calc(84vw - 4px);
    height: calc(40vh - 4px);

    margin: 0;
    position: absolute;
    border-radius: 0;
    background-color: transparent;
    color: transparent;
    caret-color: var(--white);
    z-index: 2;
    resize: none;
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 2px;
}

#codeinput::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: rgba(0, 0, 0, 0);
}

.backdrop {
    width: 84vw;
    height: calc(40vh - 4px);
    
    position: absolute;
    z-index: 1;
    border: 2px solid transparent;
    overflow: auto;
    pointer-events: none;
}

.custom-area {
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* CODE COLORS */

.codecrease {
    /* color: #748E54; */
    color: var(--codecrease);
}

.codemove {
    /* color: #D1462F; */
    color: var(--codemove);
}

.codeloop {
    /* color: #F58A07; */
    color: var(--codeloop);
}

.codeio {
    /* color: #CA3CFF; */
    color: var(--codeio);
}

.codetext {
    color: var(--light-gray);
}

.codestop {
    background-color: var(--dark-blue);
    color: var(--white);
}

.linkedbracket {
    background-color: var(--not-so-light-gray);
    /* font-weight: bold; */
    /* border: var(--white) -1px solid; */
}