html, body {
    padding: 0;
    margin: auto;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    background-color: rgb(29, 27, 27);
    font-family: Arial, Helvetica, sans-serif
}


#nojs {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top:0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#nojs div{
    width: 70%;
    height: 80%;
    background-color: rgb(70, 70, 70);
    margin: auto;
    color: white;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

nav {
    height: 9vh;
    width: 100%;
    background-color: rgb(70, 70, 70);
    display: flex;
    flex-direction:column;
    justify-content: space-around;
}

nav div {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    color: white;
    font-weight: bolder;
}

.navbtn {
    width: 10%;
    height: 100%;
    background-color: gray;
    border-radius: 20px;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    text-align: center;
}

.navbtn:hover {
    background-color: rgb(95, 95, 95);
}

html {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width:98vw;
    height: 98vh;
}

tr {
    background-color: rgb(39, 39, 39);
}

tr:hover {
    background-color: rgb(87, 87, 87);
}

body {

    width:100%;
    height: 100%;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#bfcode {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#ascii {
    width: 16%;
    height: 100%;
    max-height: 100%;
    overflow-y: scroll;
    color: white;
    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* #ascii::-webkit-scrollbar {
    height: 5px;
    background: rgba(131, 131, 131, 0.384);
} */

#bfcode div {
    background-color: rgb(48, 48, 48);
    min-height: 1%;
    width: 100%;
}

#codeinputdiv {
    height: 40vh;
    width: 100%;
    background-color: rgb(54, 53, 52);
    color: white;
}

h3 {
    margin-top: 5px;
    margin-bottom: 2px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#codeinput {
    height: 100%;
    width: 100%;
    background-color: rgb(54, 53, 52);
    color: white;
}

#output {
    color: white;
    height: 20vh;
    max-height: 20vh;
    overflow-y: scroll;
    
}

#memory {
    color: white;
    height: 5vh;
    max-width: 100%;
    overflow-x: scroll;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: rgba(131, 131, 131, 0.384);
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(151, 151, 151); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff; 
}

#timesl {
    background: linear-gradient(to right, #dddddd 0%, #d4d4d4 50%, #dfdfdf 50%, #fff 100%);
  border: solid 1px #9c9c9c;
  outline: none;
}

.info {
    border-radius: 5px;
    background-color: rgb(100, 100, 100);
    color: white;
    margin: auto;
    padding: 10px;
}

.partiblock {
    display: flex;
    flex-direction:column;
    justify-content: space-around;
}

#stats {
    height: 20%;
    width: 100%;
    background-color: rgb(27, 27, 27);
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}

.graphdiv {
    width: 90%;
    height: 90%;
}

.graph {
    width: 100%;
    height: 100%;
}
p {
    margin: 2px;
}